<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>


<style type="text/css">
.hd {
    font-size:40px;
	position: relative;
	top:300px
}
body{
    background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1544249241445&di=0efa23edc55ee5360e2b28681c7cbf9e&imgtype=0&src=http%3A%2F%2Fimg4.dwstatic.com%2Flol%2F1612%2F346875663871%2F1482921124876.jpg);
    background-size:cover
}
button{
    font-size:20px;
    width:100px;
    height:60px
}
</style>
</head>
<body >
    <div align="center" class="hd">


        <button onClick='window.location.href="/blog/login"'>登录</button>
        &nbsp;
        <button onClick='window.location.href="/blog/regist"'>注册</button>

    </div>
    <span class="hd"></span>

</body>
</html>