<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>登陆成功</title>
</head>

<body>
    <center>
        <h1>登陆成功</h1><hr>
       <div>
        <h2>书列表</h2>
        <table border="1" bordercolor="#000099" bgcolor="#F0F0F0">
        	<tr>
            <th>书名</th>
        	<th>作者</th>
            </tr>
            <tr>
        	<td>巴黎圣母院</td>
            <td>维克多· 雨果</td>
            </tr>
              <tr>
        	<td>茶花女</td>
            <td>亚历山大·小仲马果</td>
            </tr>
              <tr>
        	<td>红与黑</td>
            <td>司汤达</td>
            </tr>
        </table>
       </div><br><hr>
       <div>
        <h2>内容详情</h2>
        <table border="1" bordercolor="#000099" bgcolor="#F0F0F0">
        	<tr>
            <th>书名</th>
        	<th>梗概</th>
            </tr>
            <tr>
        	<td width="90">巴黎圣母院</td>
            <td>&nbsp;&nbsp;卡西莫多是一个弃婴，在复活节之后的第一个星期日，即卡西莫多日，在圣母院门口被人发现。由于相貌奇丑无比、面目狰狞，当时有许多人围观，却没有人愿意收养他。正巧克洛德·弗洛罗经过，看见婴儿弃置在弃婴木架上，他立即想起了从小与自己相依为命的可怜的弟弟，于是怜悯之心油然而生，遂将婴儿抱走。....</td>
            </tr>
              <tr>
        	<td >茶花女</td>
            <td>玛格丽特原来是个贫苦的乡下姑娘，来到巴黎后，开始了卖笑生涯。由于生得花容月貌，巴黎的贵族公子争相追逐，成了红极一时的“社交明星”。她随身的装扮总是少不了一束茶花，人称“茶花女”。
茶花女得了肺病，在接受矿泉治疗时，疗养院里有位贵族小姐，身材、长相和玛格丽特差不多，只是肺病已到了第三期，不久便死了。小姐的父亲裘拉第公爵在偶然发现玛格丽特很像他女儿，便收她做了干女儿。...</td>
            </tr>
              <tr>
        	<td>红与黑</td>
            <td>小说主人公于连，是一个木匠的儿子，年轻英俊，意志坚强，精明能干，从小就希望借助个人的努力与奋斗跻身上流社会。
在法国与瑞士接壤的维立叶尔城，坐落在山坡上，美丽的杜伯河绕城而过，河岸上矗立着许多锯木厂。 市长德瑞那是个出身贵族，在扣上挂满勋章的人。...</td>
            </tr>
        </table>
       </div>
    </center>
</body>
</html>